In [10]:
# Libraries 
import pandas as pd

# Files imported 
ind_name = pd.read_csv(r'C:\Users\arailym\DB_Projects\financial-analysis-project\data\raw_data\earnings\indname.csv')

In [11]:
ind_name.shape
ind_name.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47698 entries, 0 to 47697
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Company Name    47698 non-null  object
 1   Exchange        47682 non-null  object
 2   Ticker          47681 non-null  object
 3   Industry Group  47681 non-null  object
 4   Primary Sector  47698 non-null  object
 5   SIC Code        47698 non-null  int64
 6   Country         47698 non-null  object
 7   Broad Group     47698 non-null  object
dtypes: int64(1), object(7)
memory usage: 2.9+ MB

In [12]:
ind_name.head(5)

,Company Name,Exchange,Ticker,Industry Group,Primary Sector,SIC Code,Country,Broad Group
0,1000mercis (ENXTPA:ALMIL),ENXTPA,ALMIL,Advertising,Communication Services,7310,France,Developed Europe
1,4imprint Group plc (LSE:FOUR),LSE,FOUR,Advertising,Communication Services,7330,United Kingdom,Developed Europe
2,Abits Group Inc. (NasdaqCM:ABTS),NasdaqCM,ABTS,Advertising,Communication Services,7310,Hong Kong,Emerging Markets
3,Able View Global Inc. (NasdaqCM:ABLV),NasdaqCM,ABLV,Advertising,Communication Services,8742,China,Emerging Markets
4,"Access Group Holdings Co., Ltd. (TSE:7042)",TSE,7042,Advertising,Communication Services,8742,Japan,Japan

In [ ]:
# remove right text in brackets in column 'Company name'
ind_name['Company Name'] = ind_name['Company Name'].str.replace(r'\s*\(.*?\)', '', regex=True)

print(ind_name.head())

                      Company Name  Exchange Ticker Industry Group  \
0                       1000mercis    ENXTPA  ALMIL    Advertising
1               4imprint Group plc       LSE   FOUR    Advertising
2                 Abits Group Inc.  NasdaqCM   ABTS    Advertising
3            Able View Global Inc.  NasdaqCM   ABLV    Advertising
4  Access Group Holdings Co., Ltd.       TSE   7042    Advertising

           Primary Sector  SIC Code         Country       Broad Group
0  Communication Services      7310          France  Developed Europe
1  Communication Services      7330  United Kingdom  Developed Europe
2  Communication Services      7310       Hong Kong  Emerging Markets
3  Communication Services      8742           China  Emerging Markets
4  Communication Services      8742           Japan             Japan

In [15]:
missing_values = ind_name.isnull().sum()

In [16]:
ind_name = ind_name.dropna()

In [17]:
import os
from sqlalchemy import create_engine
from sqlalchemy.exc import SQLAlchemyError

# PostgreSQL credentials
username = os.getenv('DB_USERNAME', 'postgres')  
password = os.getenv('DB_PASSWORD', 'Aruzhan10')
host = os.getenv('DB_HOST', 'localhost')
port = os.getenv('DB_PORT', '5432')
database = os.getenv('DB_NAME', 'comp_finan')

# Create engine for PostgreSQL
db_url = f'postgresql://{username}:{password}@{host}:{port}/{database}'
engine = create_engine(db_url)

# Export ind_name DataFrame to PostgreSQL
try:
    if not ind_name.empty:
        ind_name.to_sql('ind_name', engine, if_exists='replace', index=False)
        print("Table 'ind_name' successfully exported.")
    else:
        print("Warning: DataFrame 'ind_name' is empty, skipping export.")
except SQLAlchemyError as e:
    print(f"An error occurred: {e}")

Table 'ind_name' successfully exported.