In [6]:
import pandas as pd
import numpy as np

In [7]:
file_path = (r"C:\Users\arailym\PyProjects\db_analysis\data\insurance.csv")
insurance_df = pd.read_csv(file_path)

In [8]:
insurance_df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [9]:
insurance_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [10]:
# change data type
insurance_df['sex'] = insurance_df['sex'].astype('string')
insurance_df['smoker'] = insurance_df['smoker'].astype('string') 
insurance_df['region'] = insurance_df['region'].astype('string')

In [11]:
def bmi_category(bmi):
    if bmi < 18.5:
        return "Underweight"
    elif 18.5 <= bmi <= 24.9:
        return "Normal weight"
    elif 25 <= bmi < 29.9:
        return "overweight"
    else:
        return "obesity"

def age_group(age):
    if age < 30:
        return "young"
    elif 30 <= age < 50:
        return "middle_age"
    else:
        "senior"

In [12]:
# user defined functions
insurance_df['bmi_category'] = insurance_df['bmi'].apply(bmi_category) 
insurance_df['age_group'] = insurance_df['age'].apply(age_group)

In [13]:
insurance_df.head()

,age,sex,bmi,children,smoker,region,charges,bmi_category,age_group
0,19,female,27.900,0,yes,southwest,16884.92400,overweight,young
1,18,male,33.770,1,no,southeast,1725.55230,obesity,young
2,28,male,33.000,3,no,southeast,4449.46200,obesity,young
3,33,male,22.705,0,no,northwest,21984.47061,Normal weight,middle_age
4,32,male,28.880,0,no,northwest,3866.85520,overweight,middle_age

Dropping columns

In [14]:
# insurance_df = insurance_df.drop(columns='bmi_category',axis=1)

In [15]:
# outliers
outliers_df = insurance_df[insurance_df['charges'] > insurance_df['charges'].quantile(0.99)]

In [16]:
outliers_df

,age,sex,bmi,children,smoker,region,charges,bmi_category,age_group
34,28,male,36.400,1,yes,southwest,51194.55914,obesity,young
175,63,female,37.700,0,yes,southwest,48824.45000,obesity,None
281,54,male,40.565,3,yes,northeast,48549.17835,obesity,None
488,44,female,38.060,0,yes,southeast,48885.13561,obesity,middle_age
530,57,male,42.130,1,yes,southeast,48675.51770,obesity,None
543,54,female,47.410,0,yes,southeast,63770.42801,obesity,None
577,31,female,38.095,1,yes,northeast,58571.07448,obesity,middle_age
819,33,female,35.530,0,yes,northwest,55135.40209,obesity,middle_age
901,60,male,40.920,0,yes,southeast,48673.55880,obesity,None
1062,59,male,41.140,1,yes,southeast,48970.24760,obesity,None
1146,60,male,32.800,0,yes,southwest,52590.82939,obesity,None
1230,52,male,34.485,3,yes,northwest,60021.39897,obesity,None
1241,64,male,36.960,2,yes,southeast,49577.66240,obesity,None
1300,45,male,30.360,0,yes,southeast,62592.87309,obesity,middle_age

In [17]:
# find how many outliers value
len(outliers_df)

14

In [18]:
insurance_df = insurance_df[insurance_df['charges'] <= insurance_df['charges'].quantile(0.99)]

In [19]:
# checking number columns and row
insurance_df.shape

(1324, 9)

In [20]:
insurance_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1324 entries, 0 to 1337
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   age           1324 non-null   int64
 1   sex           1324 non-null   string
 2   bmi           1324 non-null   float64
 3   children      1324 non-null   int64
 4   smoker        1324 non-null   string
 5   region        1324 non-null   string
 6   charges       1324 non-null   float64
 7   bmi_category  1324 non-null   object
 8   age_group     948 non-null    object
dtypes: float64(2), int64(2), object(2), string(3)
memory usage: 103.4+ KB

In [21]:
# displaying uniqe values
insurance_df['region'].unique()

<StringArray>
['southwest', 'southeast', 'northwest', 'northeast']
Length: 4, dtype: string

In [22]:
# save file
insurance_df.to_csv(r'C:\Users\arailym\Python Basics\python_da\Data Files/cleaned_insurance.csv')

In [23]:
import mysql.connector
from sqlalchemy import create_engine
from urllib.parse import quote_plus

# URL encode the password
password_encoded = quote_plus('Aruzhan10@')

db_config = {
    'user': 'root',
    'password': password_encoded,
    'host': 'localhost',
    'database': 'insurance_db',
    'port': '3306'
}

# Build the connection string with the encoded password
engine = create_engine(f"mysql+mysqlconnector://{db_config['user']}:{db_config['password']}@{db_config['host']}:{db_config['port']}/{db_config['database']}")

# Send the DataFrame to MySQL
insurance_df.to_sql(name="insurance_customers", con=engine, if_exists='replace', index=False)

print("Data saved to MySQL successfully")

Data saved to MySQL successfully